.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}
.container-slide {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
.hidden {
  display: none;
  width: 0;
}
