.crono-gallery,
.newest-gallery,
.most-sales-gallery {
  position: relative;
  margin-bottom: 4rem;
}
.newest-gallery {
  background-color: var(--cz-01);
}
.crono-gallery h1,
.newest-gallery h1,
.most-sales-gallery h1 {
  padding: 1rem 2rem;
  text-align: center;
}
.crono-gallery h1 {
  background-color: var(--az-01);
}
.newest-gallery h1 {
  background-color: var(--rs-01);
}
.most-sales-gallery h1 {
  background-color: var(--rx-01);
}

.crono-gallery .prev-btn,
.crono-gallery .next-btn {
  display: none;
}
.item-timer {
  padding: 0.5rem 2rem;
  position: absolute;
  border: 4px solid var(--az-03);
  background-color: var(--az-01);
  border-top: none;
  width: 16.25rem;
  bottom: -4.25rem;
  border-radius: 1rem;
  transition: 0.5s;
}
.crono-gallery .product__list .product__list-item:hover .item-timer {
  border: 4px solid var(--rs-03);
  background-color: var(--rs-01);
  border-top: none;
}
.item-timer p {
  font-family: Courgette;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0.05;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 960px) {
  .crono-gallery,
  .newest-gallery,
  .most-sales-gallery {
    justify-content: center;
    align-items: center;
  }
  .crono-gallery .prev-btn,
  .crono-gallery .next-btn {
    display: block;
  }

  .crono-gallery .product__list,
  .newest-gallery .product__list,
  .most-sales-gallery .product__list {
    max-width: 45rem;
  }

  .crono-gallery .product__list .product__list-item {
    margin: 3rem 0;
  }
}
@media (max-width: 600px) {
  .crono-gallery .product__list,
  .newest-gallery .product__list,
  .most-sales-gallery .product__list {
    padding-top: 1rem;
  }
  .crono-gallery .product__list .product__list-item:first-child {
    margin-top: 1.5rem;
  }
  .crono-gallery h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 400px) {
  .newest-gallery h1,
  .most-sales-gallery h1 {
    font-size: 2rem;
  }
}
